@import url("https://use.typekit.net/jmk3xov.css");
@import url("https://fonts.googleapis.com/css2?family=Quantico:wght@700&display=swap");

canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  outline: none;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 480px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3,
blockquote,
#scrollToTopBtn {
  font-family: quantico, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 1.5rem;
  margin-bottom: var(--spacing);
}

a {
  background: -webkit-linear-gradient(rgb(208, 0, 255), rgb(111, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

a:hover {
  background: -webkit-linear-gradient( rgb(111, 0, 255), rgb(208, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.github, .linkedin {
  padding: 0.5rem;
  margin: -0.3rem;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1.1;
}

.right {
  grid-column: 6 / 12;
}

.contact {
  grid-column: 2 / 5;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  text-align: center;
  display: none;
  padding-top: 12rem;
}

.popuptext {
  font-size: xx-large;
  color: white;
}

.popupimg {
  padding: 1rem;
  width: 9rem;
  height: 9rem;
}

@media only screen and (orientation: portrait) {
  .popup {
    display: block;
  }
}

@media only screen and (max-device-width: 1000px) {
  main {
    padding-top: 0%;
  }
  header {
    padding: 0%;
    font-size: x-large;
  }
}

@media only screen and (max-device-width: 1500px) {
  h1 {
    font-size: 3rem;
  }
  .contact {
    grid-column: 2 / 8;
  }
}

#scrollToTopBtn {
  background: -webkit-linear-gradient( rgb(208, 0, 255), rgb(111, 0, 255));
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 3rem;
  width: 20rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#scrollToTopBtn:hover {
  background: -webkit-linear-gradient( rgb(111, 0, 255), rgb(208, 0, 255));
}
